:root {
  --PRIMARY-COLOR: #0d0e43;
  --SECONDARY-COLOR: #fb2e86;
  --COLOR-SECONDARY-BG: #f5e1fc;
  --COLOR-TEXT: #8a8fb9;
  --COLOR-BACKGROUND: #f2f0ff;
  --COLOR-BORDER: #e7e6ef;
}

.border {
  border: solid 2px red;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Layout */
.container{
  max-width: 1200px;
}

.v-gutter{
  margin-bottom: 50px;
}

/* NavBar */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--PRIMARY-COLOR);
}

.nav-items ul {
  list-style: none;
  padding: 0;
  width: 500px;
}
.nav-pills:hover {
  color: var(--SECONDARY-COLOR);
  cursor: pointer;
}
.nav-head h1 {
  font-family: Josefin Sans;
}

.search-container input {
  margin: 0;
  border-radius: 0;
  border: 1px solid var(--COLOR-BORDER);
  height: 35px;
}
.search-container button {
  height: 37px;
  width: 50px;
  border: 1px solid var(--COLOR-BORDER);
  background-color: var(--SECONDARY-COLOR);
  color: var(--COLOR-BORDER);
}

/* landing page */
header {
  background-color: var(--COLOR-BACKGROUND);
  height: 600px;

}
.img-sofa {
  background-color: var(--COLOR-SECONDARY-BG);
  border-radius: 50% 50%;
}
.header-text {
  width: 100%;
  margin-top: 200px;
}
.header-text h2 {
  font-size: 38px;
  margin-bottom: -1rem;
  padding-bottom: 10px;
}
.header-text h4 {
  color: var(--SECONDARY-COLOR);
  font-size: 16px;
  margin-bottom: -2rem;
  padding-bottom: 10px;
}

.header-text p {
  color: var(--COLOR-TEXT);
  font-size: 12px;
  padding-bottom: 10px;
}

.btn-secondary{
  border-radius: 0;
  padding: 10px;
  width: 100px;
}

.card{
  text-align: center;
  width: 15rem;
  height: 22rem;
  margin: 2rem;
}

.card-header{
  background-color: var(--COLOR-BACKGROUND);
  height: 200px;
}
.card-header img{
  padding: 2rem;
}

.card-body{
  background-color: white;
  height: 100%;
  font-size: 18px;
}

.card-para{
  font-size: 14px;
  margin-bottom: -10px;
}

.card-body:hover{
  background-color: var(--PRIMARY-COLOR);
  color: var(--COLOR-BACKGROUND);
  cursor: pointer;
}

.product-link:hover{
  color:var(--SECONDARY-COLOR);
  border-bottom:2px solid var(--SECONDARY-COLOR);
  cursor:pointer;
}


.product-card {
  width: 330px;
  height: 300px;
}

.product-card :hover{
  color: var(--COLOR-TEXT);
  background-color: white;
  cursor: pointer;
}

.discount-price{
  color: var(--SECONDARY-COLOR);
  text-decoration:line-through;
  padding-right: 5px;
}

/* Category Card */

.category-card{
  width:260px;
  height: 260px;
  border-radius: 50% 50%;
  background-color: var(--COLOR-BACKGROUND);
  position:relative;

}

.category-card .category-card-img{
  top: 15%;
  bottom: 20%;
  left: 20%;
  right: 20%;
}
.category-card button{
  margin-left: 1.6rem;
}
.hidden{
  opacity: 0;
}

.hidden:hover{
  opacity: 1;
  cursor: pointer;
  background-color: var(--SECONDARY-COLOR);
}
.hover-border:hover{
  border-left:var(--COLOR-TEXT) 5px solid;
  cursor:pointer
}

.category-card-text{
  margin-top: 16.5rem;
  text-align: center;
  color: var(--PRIMARY-COLOR);
}
.category-card-text h5{
  margin-bottom: -10px;
}

.container-newsletter{
  margin-top: 50px;
  background-image: url('./Assets/banner.png');
  height: 350px;
  background-position: 50% 50%;
  background-size: cover;
}

.text-md{
  font-size: 25px;
}

.blog-card{
  width: 350px;
  height: 500px;
  text-align: left;
}
.blog-card span{
  margin:0 2rem 0 3px;
}

.blog-card:hover{
  color: var(--SECONDARY-COLOR);
  cursor: pointer;
}

.blog-card .link:hover{
  color: var(--SECONDARY-COLOR);
}

footer{
  padding: 2rem;
  background-color: var(--COLOR-BACKGROUND);
}



footer ul{
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--COLOR-TEXT);
}

footer ul li{
  margin-bottom: 10px;
}

footer ul li:hover{
  cursor: pointer;
}