:root {
  --PRIMARY-COLOR: #0d0e43;
  --SECONDARY-COLOR: #fb2e86;
  --COLOR-SECONDARY-BG: #f5e1fc;
  --COLOR-TEXT: #8a8fb9;
  --COLOR-BACKGROUND: #f2f0ff;
  --COLOR-BORDER: #e7e6ef;
}

.border {
  border: solid 2px red;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border- borderbox;
}

/* NavBar */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--PRIMARY-COLOR);
}

.nav-items ul {
  list-style: none;
  padding: 0;
  width: 500px;
}
.nav-pills:hover {
  color: var(--SECONDARY-COLOR);
  cursor: pointer;
}
.nav-head h1 {
  font-family: Josefin Sans;
}

.search-container input {
  margin: 0;
  border-radius: 0;
  border: 1px solid var(--COLOR-BORDER);
  height: 35px;
}
.search-container button {
  height: 37px;
  width: 50px;
  border: 1px solid var(--COLOR-BORDER);
  background-color: var(--SECONDARY-COLOR);
  color: var(--COLOR-BORDER);
}

/* landing page */
header {
  background-color: var(--COLOR-BACKGROUND);

}
.img-sofa {
  background-color: var(--COLOR-SECONDARY-BG);
  border-radius: 50% 50%;
}
.header-text {
  width: 100%;
  margin-top: 200px;
}
.header-text h2 {
  font-size: 38px;
  margin-bottom: -1rem;
  padding-bottom: 10px;
}
.header-text h4 {
  color: var(--SECONDARY-COLOR);
  font-size: 16px;
  margin-bottom: -2rem;
  padding-bottom: 10px;
}

.header-text p {
  color: var(--COLOR-TEXT);
  font-size: 12px;
  padding-bottom: 10px;
}

.btn-secondary{
  border-radius: 0;
  padding: 10px;
  width: 100px;
}